body{
    background-color: var(--clr-sky200);
}

.home__flex{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size-xl);
    text-align: center;
}


.box{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 1rem;
}

.user__box{
    background-color: var(--clr-sky700);
    padding: 0.5rem 4rem;
    border-radius: 10px;
    transition: all 0.3s;
}
.user__box:hover{
    background-color: var(--clr-sky500);
}

.user__link{
   color: var(--clr-sky50);
   text-decoration: none;
   font-size: var(--size-base);
   font-weight: 600;
   letter-spacing: 0.07em;
   
    
}

.administrator__box{
    background-color: var(--clr-sky700);
    padding: 0.5rem 2rem;
    border-radius: 10px;
    transition: all 0.3s;
}
.administrator__box:hover{
    background-color: var(--clr-sky500);
}

.administrator__link{
   color: var(--clr-sky50);
   text-decoration: none;
   font-size: var(--size-base);
   font-weight: 600;   
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    
    header{
        font-size: var(--size-2xl);
    }
    
    
    .box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        gap: 2rem;
    }
    
    .user__box{
        padding: 0.5rem 4rem;
    }
    
    .user__link{
       font-size: var(--size-lg);    
    }
    
    .administrator__box{
        padding: 0.5rem 2rem;
    }
    
    .administrator__link{
       font-size: var(--size-lg);
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .home__flex{
        gap: 5rem;
    }
    
    header{
        font-size: var(--size-3xl);
    }
    
    
    .box{
        gap: 3rem;
    }
    
    .user__box{
        padding: 0.5rem 4rem;
    }
    
    .user__link{
       font-size: var(--size-xl);    
    }
    
    .administrator__box{
        padding: 0.5rem 2rem;
    }
    
    .administrator__link{
       font-size: var(--size-xl);
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */